@page "/counter"

<h1>Counter</h1>
<p>The counter has a value of @_currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCounter">Click</button>

@code
{
    private int _currentCount = 2;
    
    private void IncrementCounter()
    {
        _currentCount++;
    }
}
